.container_wrapper{
    display: flex;
    flex-wrap: wrap;
}
.dash_card{
    padding: 2rem 1.5rem;
    background-color: #222222;
    width: 15rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.dash_card .fetched_title{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.57);
}
.dash_card .fetched_data{
    font-size: 2rem;
    font-weight: 600;
}
.dash_card .data_logo{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(135, 57, 249);
    border-radius: 50%;
}
.dash_card .data_logo .logo{
    font-size: 2rem;
}